body {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background: linear-gradient(-135deg, #519edc, #b9d5f1) fixed;
}

#wrap {
    width: 1280px;
    height: 640px;
    margin: auto;
    text-align: left;
}

li {
    list-style: none;
}

.header {
    height: 70px;
    text-align: center
}

.header-list li {
    float: left;
    padding: 20px 60px;
}
