#wrap {
    width: 1280px;
    height: 640px;
    margin: auto;
    text-align: left;
}

li{
    list-style:none;
}

dl{
    display:block;
}

dt{
    float:left;
    clear:left;
    width:120px;
}

dd{
    float:left;
}

.header{
    height: 70px;
    text-align: center;
}
.header-list li {
    float: left;
    padding: 20px 60px;
}
dl.new-info {
    height: 160px;
    width: auto;
}