#wrap {
    width: 1280px;
    height: 640px;
    margin: auto;
    text-align: left;
}

li {
    list-style: none;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    display: table;
    box-sizing: border-box;
}

.header {
    height: 70px;
    text-align: center
}

.header-list li {
    float: left;
    padding: 20px 60px;
}
.main p{
    height: 40px;
}
.score{
    border-collapse:collapse;
}